.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13.6rem; 
  height: 25rem;
  margin: 1rem;
  padding: 1rem;
  border: #8a959545 10px solid;
  border-radius: 10px;
  transition: .35s;
  background-color: lavender;
  }
  .Business:hover {
    transform: translateY(-.1rem) scale(1.02);
    background-color: #b19892;
    box-shadow: 2px 2px 12px 10px #0000008c;
  }
   
  .Business .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
  }
  
  .Business h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .Business-information {
    display: flex;
    justify-content: space-between;
  }
  
  .Business-information p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
  }
  
  .Business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  
  .Business-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin: 0 .8rem;
  }
  
  .Business-reviews h3 {
    color: #ab3807;
    font-weight: 600;
    font-size: 1.1rem;
  }
  
  .Business-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
  }